<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Teams database</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Absolute path. It always starts from the root. -->
	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>

<div align="right">
<a href="/logout" >Logout ?</a>
</div>
	<div class="container" align="center">
<B>Welcome to IPLT20</b><br/><br/>
	<a href="/IPL2022/list">List all teams</a><br/>
    <a href="/IPL2022/get">Get team info</a><br/>
    <a href="/IPL2022/addNewTeam">Add a new team</a><br/>
    

    </div>
</body>
</html>